/* css/styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #333030;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

h1 {
  color: #7d7d7d;
}

#latestRFIDNUID, #rfidCodeDisplay {
  background-color: #3b3434;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#productDataList {
  background-color: #3b3434;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin-top: 20px;
  overflow-x: auto;
}

#productDataList div {
  margin: 15px; 
}

.product-item {
  background-color: transparent;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  border: 2px solid transparent; /* Regular border thickness */
}

.product-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.scanned-product {
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transform: scale(1.05); /* Zoom effect */
  border: 4px solid #f39c12; /* Thicker border for scanned products */
}

/* Styles for expiry statuses */
.expired {
  background-color: #a00;
  border-color: #800000;;
}

.near-expiry {
  background-color: #aa8000;
  border-color: #886b00;
}

.short-life {
  background-color: #ff8c00;
  border-color: #e67e00;
}

.medium-life {
  background-color: #daa520;
  border-color: #b8860b;
}

.long-life {
  background-color: #0a0;
  border-color: #008000;
}
